*{
    margin: 0;
}
body{
    background-color: #FFF4E0;
    /* background-color: aqua; */
}
H5{
    text-align: center;
    font-size: 24px;
}
.no{
    margin: 3px;
    height: 400px;
    /* border: 2px solid black; */
    padding: 4px;
    display: flex;
}
.container{
    
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
}
.name{
    margin: 0;
    padding: 0;
    text-align: center;
}
.noodlesimg{
 border-radius: 40px;
 height: 280px;   
}
.noo{
    /* border: 2px solid black; */
    height: 350px;
    width: 420px;
}
.nn{
    /* position: absolute; */
    margin-left: 35%;
    padding: 1.1em 2em;
 background: none;
 border: 2px solid #fff;
 font-size: 15px;
 color: #131313;
 cursor: pointer;
 position: relative;
 overflow: hidden;
 transition: all 0.3s;
 border-radius: 12px;
 background-color: #ecd448;
 font-weight: bolder;
 box-shadow: 0 2px 0 2px #000;
}
.nn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .nn:hover {
    background-color: #5bcdf0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .nn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .nn:active {
    transform: scale(0.9);
   }
.nooo{
    /* border: 2px solid black; */
    height: 350px;
    width: 420px;
    /* display: flex; */
    position: relative;
    margin-left: 42px; 
}
.noooo{
    height: 350px;
    width: 420px;
    /* display: flex; */
    position: relative;
    margin-left: 42px; 
}
